
/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Your CSS rules go here */

:root{
    --bs-primary-color: #40A2E3;
    --bs-primary-color-rgb: rgba(64,162,227);
    --bs-second-color: #0d6efd;
    --bs-second-color-rgb: rgba(13,110,253);
    
    --text-color:#02000D;   
    --body-color:#F5F5F5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color:var(--body-color) !important;
}

.nav-item .nav-link {
    color: var(--body-color) !important;
}

h1, h2, h3, h4{
    font-family: "Space Mono", monospace;
    color: var(--bs-primary-color) !important;
}

h1, h2{
    font-weight: 900 !important;
}

h3, h4{
    font-weight: 700 !important;
}

h5, h6{
    font-weight: 400 !important;
}

/**HEADING**/

.btn-social{
    font-size: 25px;
    padding: 5px;
    align-items: center ;
    color: var(--bs-primary-color);
}

.btn-download-resume{
    background: var(--bs-primary-color);
}


header{
    color: var(--body-color) !important;
    background-color: var(--bs-primary-color);
}

.skill{
    box-shadow: rgba(80, 120, 160);
    background-color: white;
}

.bg-home {
    background-image: url("/media/cloud.svg");
    background-position: right;
    background-color: var(--body-color); /* Adjust the color values as needed */
}

/*ABOUT*/

.card{
    height: 150 !important;
}